* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #000;
    color: #fff;
    overflow: hidden;
}

.app {
    display: flex;
    height: calc(100vh - 90px);
}

.sidebar {
    width: 240px;
    background-color: #000;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #1DB954; /* Verde original de Spotify */
}

.menu li {
    list-style: none;
    padding: 12px 15px;
    color: #b3b3b3;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.2s;
    margin-bottom: 5px;
}

.menu li:hover, .menu li.active {
    color: #fff;
    background-color: #282828;
}

.main-content {
    flex: 1;
    background-color: #121212;
    padding: 20px;
    overflow-y: auto;
}

.header h2 {
    margin-bottom: 20px;
}

.songs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding-bottom: 40px;
}

...card {
    background-color: #181818;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.card:hover {
    background-color: #282828;
}

.card h4 {
    margin: 10px 0 5px 0;
}


/* Reproductor inferior */
.player {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #181818;
    border-top: 1px solid #282828;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 100;
}

.player-left {
    width: 30%;
}

#currentTitle {
    font-weight: bold;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#currentArtist {
    color: #b3b3b3;
    font-size: 12px;
}

.player-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 40%;
}

.controls {
    display: flex;
    align-items: center;
}

.player-center button {
    background: none;
    border: none;
    color: white;
    font-size: 22px;
    cursor: pointer;
    margin: 0 10px;
    transition: transform 0.1s;
}

.player-center button:hover {
    transform: scale(1.1);
}

#progress {
    width: 100%;
    max-width: 400px;
    cursor: pointer;
}
